.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
	position: relative;
	&__navs {
		position: absolute;
		z-index: 202;
		max-width: 950px;
		width: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		display: flex;
	    justify-content: flex-end;
	    height: 50px;
	    align-items: center;
		&__nav1 {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: flex;
			width: 435px;
			justify-content: space-between;
			.country {
				position: relative;
				&:hover ul {
					display: block;
				}
				ul {
					position: absolute;
					display: none;
					padding: 0;
					list-style-type: none;
					width: 100%;
					//background-color: #F09797;
					li {
						a {
							display: inline-block;
							z-index: 203;
							padding: 5px 0px 5px 25px;
							width: 100%;
							background-color: rgba(37,174,220, .8);
							&:hover {
								background-color: rgba(0,30,58, 0.8);
							}
						}
						&:first-child {
								border-bottom: 1px solid #001E3A;
							}
					}
				}
			}
			li {
				a {
					color: #ffffff;
					text-decoration: none;
					font-family: "Roboto";
					font-size: 14px;
					font-weight: 400;
					line-height: 36px;
					.phone {
						border-bottom: dashed 1px;
						i {
							margin-left: 50px;
						}
					}
					.fa-sign-in-alt {
						margin-right: 10px;
					}
					.fa-phone {
						-webkit-transform:rotateY(180deg);
						-moz-transform:rotateY(180deg);
						-o-transform:rotateY(180deg);
						-ms-transform:rotateY(180deg);
						transform:rotateY(180deg);
						margin-right: 10px;
					}
				}
			}
		}
		&__nav2 {
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
    		justify-content: space-between;
    		max-width: 950px;
    		margin: 0 auto;
    		&__wrapper {
    			position: absolute;
    			top: 50px;
    			z-index: 201;
				width: 100%;
				background-color: rgba(0,0,0,0.4);
    		}
			a {
				text-decoration: none;
				color: #ffffff;
				font-family: "Roboto";
				font-weight: 700;
				font-size: 29px;
				line-height: 28.58px;
				b {
					font-weight: 100;
				}
			}
			ul {
				list-style-type: none;
				display: flex;
				padding: 0;
				 .industries-li {
					position: relative;
						&:hover ul {
							display: block;
						}
					ul {
						display: none;
						padding: 0;
						position: absolute;
						flex-direction: column;
						top: 61px;
						width: 100%;
						li {
							a {
								display: inline-block;
								z-index: 203;
								padding: 5px 0px 5px 25px;
								width: 100%;
								background-color: rgba(37,174,220, .8);
								&:hover {
									background-color: rgba(0,30,58, 0.8);
								}
							}
							&:first-child a {
								border-bottom: 1px solid #001E3A;
							}
						}
					}
				} 
				li {
					a {
						padding: 12px 30px;
						display: block;
						//background-color: #971717;
						text-decoration: none;
						color: #ffffff;
						font-family: "Roboto";
						font-size: 17px;
						font-weight: 400;
						line-height: 36.1px;
						&:hover {
							background-color: rgba(0,29,59,.5);
						}
					}
					.demo {
						border-left: 2px solid #466279;
						border-right: 2px solid #466279;
						border-bottom: 4px solid #00b0f0;
						padding-bottom: 9px;
					}
					.industries {
						border-right: 2px solid #466279;
						border-bottom: 4px solid #ff9b37;
						padding-bottom: 9px;
						i {
							margin-left: 10px;
						}
					}
					.products {
						border-right: 2px solid #466279;
						border-bottom: 4px solid #8ecc61;
						padding-bottom: 9px;
						i {
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
	&__content {
		&__slider {
			&__slide {
				position: relative;
				background-color: #064f7c;
				background-image: url(../img/slide1-bg.jpg);
				width: 100%;
				height: 800px;
				&__content {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
					h1 {
						color: #ffffff;
						font-family: "Roboto";
						font-size: 64px;
						font-weight: 100;
						line-height: 70px;
						margin: 0;
					}
					p {
						color: #ffffff;
						font-family: "Roboto";
						font-size: 18px;
						font-weight: 400;
						line-height: 28px;
						margin: 55px 0 0 0;
					}
					.btn {
						cursor: pointer;
						width: 247px;
						height: 70px;
						border: 1px solid #ffffff;
						background-color: transparent;
						color: #4e626e;
						font-family: "Roboto";
						font-size: 24px;
						font-weight: 400;
						line-height: 36.1px;
						color: #ffffff;
						margin: 60px 0 0 0;
						padding: 0;
						&:hover {
							background-color: #ffffff;
							color: #064f7c;
							transition-delay: .1s;
						}
					}
				}
			}
		}
	}
}
.header__menu__btn {
		margin-right: 10px;
		position: relative;
		height: 40px;
		width: 40px;
		padding: 0;
		background-color: transparent;
		border: none;
		outline:none;
		display: none;
}