section {
  flex: 1 0 auto; }

.content {
  padding: 0 5px;
  margin-top: 115px; }
  .content h2 {
    font-family: Roboto;
    font-size: 58px;
    font-weight: 100;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
    color: #198cca;
    max-width: 718px;
    margin: 0 auto; }
  .content__title h3 {
    margin: 0;
    color: #198cca;
    font-size: 58px;
    line-height: 64px;
    text-align: center;
    text-transform: lowercase; }
  .content__image {
    width: 922px;
    margin: 70px auto 0 auto; }
    .content__image img {
      width: 100%; }
  .content p {
    padding: 0 5px;
    margin: 70px auto 0 auto;
    max-width: 791px;
    color: #53687d;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    line-height: 30px;
    text-align: center; }
  .content__button {
    max-width: 407px;
    margin: 64px auto 0 auto;
    text-align: center; }
    .content__button .learnMoreBtn {
      width: 245px;
      height: 70px;
      background-color: #ffffff;
      border: solid 1px #26abe4;
      text-align: center;
      color: #26abe4;
      margin-right: 9px; }
      .content__button .learnMoreBtn:hover {
        background-color: #26abe4;
        color: #fff; }
      .content__button .learnMoreBtn:focus {
        background-color: transparent;
        color: #26abe4;
        transition: 0.5s; }
    .content__button .demoBtn {
      cursor: pointer;
      padding: 0;
      width: 139px;
      height: 70px;
      background-color: #26abe4;
      border: solid 1px #26abe4;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 100;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-left: 9px;
      outline: none; }
  .content__news {
    margin-bottom: 15px; }
    .content__news__item {
      max-width: 300px;
      margin: 5px; }
      .content__news__item span {
        display: block;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 100;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #9ca9b6; }
      .content__news__item a {
        display: block;
        margin-top: 25px;
        text-decoration: none;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 100;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #26abe4; }
        .content__news__item a:hover {
          text-decoration: underline; }
      .content__news__item p {
        margin-top: 35px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        color: #53687d;
        width: 100%; }

.newsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 945px;
  margin: 70px auto 115px auto; }

.newsBlockCenter {
  align-items: center;
  padding: 0 5px; }
  .newsBlockCenter img {
    margin: 5px; }
