.footer {
  flex: 0 0 auto; }
  .footer__contacts {
    padding: 40px 0 60px 0;
    position: relative;
    background-color: #8cd1ff;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }
    .footer__contacts__1line {
      border-bottom: 1px solid #fff;
      max-width: 940px;
      margin: 0 auto;
      padding-bottom: 55px; }
      .footer__contacts__1line--img {
        margin: 0 auto;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        outline: none;
        margin-bottom: 40px; }
        .footer__contacts__1line--img:hover {
          background-color: #1271B5;
          border-radius: 50%;
          outline: none; }
      .footer__contacts__1line--countries {
        display: flex;
        justify-content: space-between;
        align-items: center; }
    .footer__contacts__2line {
      padding: 40px 0 0 0; }
      .footer__contacts__2line--mail {
        text-align: center; }
        .footer__contacts__2line--mail a {
          text-decoration: none;
          color: #ffffff;
          font-family: "Roboto",Helvetica,Arial,sans-serif;
          font-weight: 100;
          font-size: 32px;
          line-height: 60px;
          border-bottom: 1px solid #fff; }
  .footer__tree {
    padding: 65px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-srart;
    max-width: 940px;
    margin: 0 auto; }
    .footer__tree__block ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .footer__tree__block ul li a {
        text-decoration: none;
        color: #26abe4;
        font-size: 16px;
        line-height: 32px;
        font-family: "Roboto",Helvetica,Arial,sans-serif;
        font-weight: 600; }
        .footer__tree__block ul li a:hover {
          border-bottom: 0.5px solid #26abe4; }
    .footer__tree__block__title {
      color: #26abe4;
      font-size: 24px;
      line-height: 30px;
      font-family: "Roboto",Helvetica,Arial,sans-serif;
      font-weight: 700; }
    .footer__tree__block__social {
      margin-top: 20px;
      width: 245px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer__tree__block__social a {
        width: 40px;
        height: 40px; }
        .footer__tree__block__social a:hover {
          background-color: #4ca2e0;
          border-radius: 50%; }
  .footer__bottom {
    padding: 25px 5px;
    background-color: #e9eff2; }
    .footer__bottom__wraper {
      max-width: 960px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #53687d;
      font-size: 16px;
      line-height: 22px;
      font-family: "Roboto",Helvetica,Arial,sans-serif;
      font-weight: 100; }
    .footer__bottom__developer {
      display: flex;
      align-items: center; }
      .footer__bottom__developer a {
        text-decoration: none;
        color: #26abe4;
        font-weight: 600; }
      .footer__bottom__developer--logo {
        width: 43px;
        margin-left: 15px; }
        .footer__bottom__developer--logo img {
          width: 100%; }

.countres {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .countres__title {
    color: #fff;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: 100;
    line-height: 60px;
    margin: 0; }
  .countres__phone {
    color: #fff;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: 100;
    line-height: 60px;
    margin: 0; }

.f-phone {
  background: url(../img/all-social1.png) 0 -41px; }

.f-mail {
  background: url(../img/all-social1.png) -76px -41px; }

.facebook {
  background: url(../img/all-social1.png); }

.youtube {
  background: url(../img/all-social1.png) -40px 0; }

.googleplus {
  background: url(../img/all-social1.png) -80px 0; }

.twiter {
  background: url(../img/all-social1.png) -120px 0; }

.in {
  background: url(../img/all-social1.png) -160px 0; }
