@media (max-width: 940px) {
  .header__navs__nav1,
  .header__navs__nav2, .lang-phone ul {
    display: none; }
  .header__navs__nav2__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .mobile__logo {
    display: block; }
    .mobile__logo a {
      padding-left: 10px;
      text-decoration: none;
      color: #ffffff;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 29px;
      line-height: 28.58px; }
      .mobile__logo a b {
        font-weight: 100; }
  .header__menu__btn {
    display: block; }
  .mobile__nav {
    position: absolute;
    z-index: 203;
    top: 90px;
    width: 100%; }
    .mobile__nav ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      width: 100%; }
      .mobile__nav ul li a {
        display: block;
        text-decoration: none;
        text-align: center;
        z-index: 203;
        padding: 10px 0;
        width: 100%;
        font-size: 21px;
        color: #fff;
        line-height: 30px;
        background-color: rgba(0, 19, 43, 0.2); }
        .mobile__nav ul li a:hover {
          background-color: rgba(0, 19, 43, 0.5); }
  .header__content__slider__slide__content h1 {
    font-size: 22px;
    line-height: 45px; }
  .header__content__slider__slide__content p {
    font-size: 12px;
    line-height: 20px;
    margin: 20px 0 0 0; } }

.lang-phone ul li a {
  text-decoration: none;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px; }

@media (max-width: 940px) {
  .content__image {
    width: 303px; }
  .content p {
    font-size: 16px;
    line-height: 25px; } }

@media (max-width: 640px) {
  .content__news {
    margin: 0 auto 15px auto; } }

@media (max-width: 423px) {
  .content__button .learnMoreBtn {
    margin-right: 0; }
  .content__button .demoBtn {
    margin-left: 0;
    margin-top: 10px; }
  .content h2 {
    font-size: 40px; } }

@media (max-width: 940px) {
  .countres__title {
    font-size: 32px; }
  .countres__phone, .footer__contacts__2line--mail a {
    font-size: 23px; } }

@media (max-width: 625px) {
  .footer__contacts__1line--countries {
    flex-direction: column; }
  .countres__title {
    font-weight: bold; }
  .footer__tree {
    flex-direction: column;
    align-items: center;
    text-align: center; } }

@media (max-width: 520px) {
  .footer__bottom__developer--logo {
    margin-left: 0;
    margin-right: 10px; } }

@media (max-width: 582px) {
  .form form .close {
    top: -17px;
    right: 19px; }
  .form form {
    width: auto;
    top: 33%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
